.s-decor-buildings {
	background-color: $bg-muted;
	overflow: visible;
	z-index: 0;
	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		bottom: 75%;
		width: 100%;
		padding-bottom: 27.4%;
		background-color: $white;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100% auto;
	}
	&--1::before {
		background-image: url(../img/general/bg-1.svg);
	}
	&--2::before {
		background-image: url(../img/general/bg-2.svg);
		bottom: 60%;
	}
	&--3,&--4 {
		background-color: initial;
	}
	&--3::before {
		background-image: url(../img/general/bg-3.svg);
		bottom: 0;
		padding-bottom: 90%;
	}
	&--4::before {
		background-image: url(../img/general/bg-4.svg);
		bottom: 0;
		padding-bottom: 44%;
	}
	&--44 {
		background-color: initial;
		z-index: 1;
		@media (min-width: 1400px){
			padding-bottom: 12.6em;
		}
	}
	&--44::before {
		background-image: url(../img/general/bg-44.svg);
		bottom: 0;
		padding-bottom: 19%;
	}
	&--5::before {
		background-image: url(../img/general/bg-5.svg);
		bottom: 30%;
		padding-bottom: 44%;
	}
	&--55::before {
		background-image: url(../img/general/bg-5.svg);
		bottom: auto;
		padding-bottom: 44%;
		top: -18em;
	}
	&--6::before {
		background-image: url(../img/general/bg-6.svg);
		padding-bottom: 29%;
		bottom: auto;
		top: -8em;
	}
	&--7::before {
		background-image: url(../img/general/bg-7.svg);
		padding-bottom: 34.8%;
		bottom: auto;
		top: -10em;
	}
	&--8::before {
		background-image: url(../img/general/bg-8.svg);
		bottom: 0;
		padding-bottom: 66%;
	}
	&--9 {
		background-color: initial;
		background-image: url(../img/general/bg-9.svg);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100% auto;
		&::before {
			content: none;
		}
	}
	@media (max-width: 1100px){
		&:before {
			bottom: 85%;
		}
		&--3::before,&--4::before,&--44::before {
			bottom: 0;
		}
		&--55::before {
			bottom: auto;
			top: -4em;
		}
		&--6::before,&--7::before{
			top: -7em;
			bottom: auto;
		}
	}
	@media (max-width: 700px){
		&--1::before,&--2::before {
			bottom: 96%;
		}
		&--6::before {
			top: -3em;
		}
	}
}
.decor-strips {
	@media (min-width: 1024px){
		&:before {
			content: '';
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 17.7em;
			height: 8.4em;
		}
		&--1::before {
			bottom: 5%;
			right: 0;
			background-image: url(../img/general/bg-lines-3.svg);
		}
		&--11::before {
			bottom: 12%;
			right: 14%;
			width: 15em;
			height: 7em;
			background-image: url(../img/general/bg-lines-6.svg);
		}
		&--2::before {
			bottom: 0;
			right: 19%;
			background-image: url(../img/general/bg-lines-4.svg);
			width: 16em;
			height: 6.7em;
		}
	}
}