.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	vertical-align: middle;
	&--md {
		display: block;
		width: 40px;
		height: 40px;
		@media (max-width: 719px) {
			width: 34px;
			height: 34px;
		}
	}
	&--lg {
		display: block;
		width: 80px;
		height: 80px;
		@media (max-width: 991px){
			width: 70px;
			height: 70px;
		}
		@media (max-width: 721px){
			width: 50px;
			height: 50px;
		}
	}
}