body {
	position: relative;
	color: $text;
	font-family: $default-font;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.77;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	@media (max-width: 1370px) {
		font-size: 16px;
		line-height: 1.6;
	}
	@media (max-width: 767px) {
		font-size: 15px;
	}
}
.wrapper {
	position: relative;
	width: 100%;
	min-height: 50vh;
	@media (min-width: 1930px){
		max-width: 1940px;
		margin-left: auto;
		margin-right: auto;
	}
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1310px;
	&--lg {
		max-width: 1340px;
	}
	@media (max-width: 1300px){
		max-width: 1240px;
	}
	@media (max-width: 359px) {
		padding-left: 14px;
		padding-right: 14px;
	}
}