.overtitle {
	font-size: em(15);
	padding: .18em .9em;
	display: block;
	width: fit-content;
	margin-bottom: 3em;
	font-style: normal;
	background-color: $bg-muted;
	color: $orange;
	@media (max-width: 1367px){
		margin-bottom: 2em;
	}
}
.h1 {
	font-size: em(60);
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 1em;
	@media (max-width: 1100px){
		font-size: em(56);
	}
	@media (max-width: 991px){
		font-size: em(44);
	}
	@media (max-width: 721px){
		font-size: em(38);
	}
	@media (max-width: 500px){
		font-size: em(36);
	}
}
.h2 {
	font-size: em(50);
	font-weight: 600;
	text-align: center;
	line-height: 1.4;
	margin: 0 auto 1.3em;
	@media (min-width: 1024px){
		&--sm {
			max-width: 610px;
		}
		&--md {
			max-width: 690px;
		}
		&--lg {
			max-width: 950px;
		}
	}
	@media (max-width: 1100px){
		font-size: em(44);
		&--lg {
			max-width: 770px;
		}
	}
	@media (max-width: 991px){
		font-size: em(40);
		margin-bottom: 1.1em;
	}
	@media (max-width: 721px){
		font-size: em(30);
		margin-bottom: 1em;
	}
}
.h2_5 {
	display: block;
	font-weight: 400;
	font-size: em(40);
	margin-bottom: .8em;
	line-height: 1.4;
	@media (max-width: 991px){
		font-size: em(36);
		margin-bottom: 1.1em;
	}
	@media (max-width: 721px){
		font-size: em(28);
		margin-bottom: .7em;
	}
}
.h3 {
	font-weight: 300;
	font-size: em(30);
	margin-bottom: 1em;
	line-height: 1.5;
	@media (max-width: 991px){
		font-size: em(24);
	}
	@media (max-width: 721px){
		font-size: em(22);
	}
}
.subtitle {
	font-weight: 300;
	font-size: em(30);
	text-align: center;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 991px) {
		font-size: em(24);
	}
	@media (max-width: 721px) {
		font-size: em(22);
	}
}
.h4 {
	font-weight: 600;
	font-size: em(24);
	margin-bottom: 1em;
	line-height: 1.25;
	@media (max-width: 991px){
		font-size: em(22);
	}
	@media (max-width: 721px){
		margin-bottom: 0.7em;
	}
}
p {
	padding-bottom: 1.1em;
}
.font-lg {
	font-size: 1.33em;
	@media (max-width: 600px){
		font-size: 1.2em;
	}
}
.columns-list {
	@media (min-width: 540px){
		columns: 2;
		column-gap: 2.1em;
	}
	@media (min-width: 1024px){
		&--three {
			columns: 3;
		}
	}
	li {
		break-inside: avoid;
	}
}
.letter-list ,.number-list{
	list-style: none;
	counter-reset: i;
	margin-bottom: 1em;
	li {
		margin-bottom: .3em;
		&:before {
			content: counter(i, lower-latin) " ’";
			counter-increment: i;
			display: inline-block;
			color: $orange;
			margin-right: .8em;
		}
	}
}
.number-list {
	li:before {
		content: counter(i, decimal-leading-zero) " ’";
	}
}