.s-intro {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		background-image: var(--bg1x);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1;
		@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px), (min-resolution: 192dpi) and (min-width: 1024px),(min-width: 2000px) {
			background-image: var(--bg2x);
		}
	}
	&--regular {
		padding-top: 4em;
		padding-bottom: 4em;
		z-index: 2;
		overflow: visible;
		@media (max-width: 991px){
			padding-bottom: 2em;
			margin-bottom: -5em;
		}
		&:before {
			background-image: var(--bg);
			width: 116%;
			height: 130%;
			left: -9%;
			top: 60%;
			transform: translateY(-50%);
			@media (max-width: 1440px){
				width: 110%;
				height: 110%;
				left: -5%;
				top: 52%;
			}
			@media (max-width: 991px){
				width: 100%;
				left: 0;
				background-size: 100%;
			}
			@media (max-width: 600px){
				width: 140%;
				left: -30%;
				transform: none;
				top: auto;
				bottom: 0;
			}
		}
	}
	&--main {
		min-height: 86vmin;
		padding-top: 4em;
		&:before {
			width: 69.7%;
			padding-bottom: 42.2%;
			right: 1%;
			bottom: 0;
		}
		@media (max-width: 1440px){
			padding-top: 3em;
			padding-bottom: 3em;
			&:before {
				top: 10%;
			}
		}
		@media (max-width: 1100px){
			&:before {
				top: 33%;
			}
		}
		@media (max-width: 700px){
			padding-bottom: 15em;
			&:before {
				top: auto;
				bottom: 0;
				width: 85%;
				right: 0;
				padding-bottom: 59%;
			}
		}
	}
}
.intro {
	overflow: hidden;
	&__container {
		z-index: 1;
		&--main {
			.h1 {
				max-width: 800px;
				@media (max-width: 1367px){
					max-width: 760px;
				}
			}
		}
		&--regular {
			text-align: center;
			.overtitle {
				margin-left: auto;
				margin-right: auto;
			}
			.h1 {
				margin-left: auto;
				margin-right: auto;
				max-width: 932px;
			}
		}
	}
	&__cta {
		position: relative;
		width: fit-content;
		@media (min-width: 768px){
			&::after {
				content: '';
				position: absolute;
				top: 141%;
				left: -65%;
				width: 178%;
				padding-bottom: 77%;
				background-image: url(../img/general/bg-lines.svg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}
		@media (max-width: 1440px){
			&::after {
				width: 120%;
				left: -6%;
				top: 102%;
			}
		}
	}
}
.title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	width: fit-content;
	margin: 0 auto 2em;
	.h1 {
		margin-bottom: .2em;
	}
	& ~ p {
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.6em;
	}
}