.s-intro {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		background-image: var(--bg1x);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 1;
		@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px), (min-resolution: 192dpi) and (min-width: 1024px),(min-width: 2000px) {
			background-image: var(--bg2x);
		}
	}
	&--main {
		min-height: 90vmin;
		padding-top: 4em;
		padding-bottom: 4em;
		&:before {
			width: 69.7%;
			padding-bottom: 42.2%;
			right: 1%;
			top: 0;
		}
		@media (max-width: 1440px){
			padding-top: 3em;
			padding-bottom: 3em;
			&:before {
				top: 10%;
			}
		}
		@media (max-width: 1100px){
			&:before {
				top: 33%;
			}
		}
		@media (max-width: 700px){
			padding-bottom: 15em;
			&:before {
				top: auto;
				bottom: 0;
				width: 85%;
				right: 0;
				padding-bottom: 59%;
			}
		}
	}
}
.intro {
	&__container {
		z-index: 1;
		&--main {
			.h1 {
				max-width: 800px;
				@media (max-width: 1367px){
					max-width: 760px;
				}
			}
		}
	}
	&__cta {
		position: relative;
		width: fit-content;
		@media (min-width: 768px){
			&::after {
				content: '';
				position: absolute;
				top: 141%;
				left: -65%;
				width: 178%;
				padding-bottom: 77%;
				background-image: url(../img/general/bg-lines.svg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}
		@media (max-width: 1440px){
			&::after {
				width: 120%;
				left: -6%;
				top: 102%;
			}
		}
	}
}