.s--ov-visible {
	overflow: visible;
}
.s--simply {
	padding-top: 4em;
	padding-bottom: 5.4em;
	@media (max-width: 1100px){
		padding-top: 3.8em;
		padding-bottom: 3.8em;
	}
	@media (max-width: 600px){
		padding-top: 3em;
		padding-bottom: 2.2em;
	}
	@media (max-width: 500px){
		padding-top: 2.6em;
	}
}
.ben {
	&__grid {
		@media (min-width: 600px){
			padding-top: 1em;
		}
	}
	&__icon {
		display: block;
		width: fit-content;
		margin-bottom: 1.1em;
	}
}
.s--muted {
	background-color: $bg-muted;
}
.why__list {
	position: relative;
	list-style: none;
	&-item {
		padding-bottom: 1.5em;
		padding-left: 2.1em;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 21.6666L16.6667 28.3333L31.6667 13.3333' stroke='%2362B954' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-size: contain;
			left: -10px;
			top: 0.2em;
			width: 2.22em;
			height: 2.22em;
		}
	}
	@media (min-width: 768px){
		padding-top: 3em;
		columns: 2;
		column-gap: calc(27em + 6vw);
		&-item {
			break-inside: avoid;
			padding-bottom: 2.8em;
		}
		&:before {
			content: '';
			position: absolute;
			width: calc(23.6em + 5vw);
			aspect-ratio: 1/1.275;
			background-image: url(../img/general/why.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: -1;
			top: 50%;
			left: 50%;
			transform: translate(-53%,-50%);
		}
	}
	@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px), (min-resolution: 192dpi) and (min-width: 1024px),(min-width: 2000px) {
		&:before {
			background-image: url(../img/general/why-2x.png);
		}
	}
	@media (max-width: 1100px){
		column-gap: calc(20em + 6vw);
		&:before {
			width: calc(20em + 5vw);
		}
		&-item {
			padding-left: 1.8em;
			&:before {
				width: 1.8em;
				height: 1.8em;
			}
		}
	}
	@media (max-width: 991px){
		column-gap: calc(10em + 6vw);
		&:before {
			width: calc(14em + 5vw);
			transform: translate(-59%, -61%);
		}
	}
	@media (max-width: 721px){
		&-item:before {
			left: -5px;
			width: 1.6em;
			height: 1.6em;
		}
	}
	@media (max-width: 721px){
		&-item:before {
			top: 0.1em;
			left: -2px;
			width: 1.4em;
			height: 1.4em;
		}
	}
}
.why__grid {
	list-style: none;
	li {
		padding-bottom: 0.5em;
		@media (max-width: 719px){
			padding-bottom: 0;
		}
	}
	@media (min-width: 1200px){
		padding-top: 1em;
		gap: 38px 30px;
	}
}
.art {
	&__row {
		@media (min-width: 1000px){
			display: flex;
			gap: 1em;
			&--v-center {
				align-items: center;
			}
		}
	}
	&__pict {
		flex-grow: 0.1;
		@media (min-width: 720px){
			&--decor-1 {
				position: relative;
				z-index: 1;
				top: 4em;
				&::before {
					content: '';
					position: absolute;
					width: 85%;
					padding-bottom: 45%;
					bottom: 89%;
					left: 1%;
					background: url(../img/general/shapes-1.svg) center no-repeat;
					background-size: contain;
					z-index: -1;
				}
			}
		}
		@media (min-width: 1440px){
			flex-grow: 0;
		}
		// @media (max-width: 1100px){
		// 	&--1::before {
		// 		height: 110%;
		// 		left: -5%;
		// 		top: -17%;
		// 	}
		// }
		@media (max-width: 999px){
			max-width: 360px;
			margin: 0 auto .8em;
		}
		@media (max-width: 600px){
			max-width: 260px;
		}
	}
	&__text {
		.h2 {
			text-align: left;
		}
		@media (min-width: 1000px) {
			max-width: 600px;
		}
		@media (min-width: 1200px) {
			max-width: 680px;
		}
		@media (min-width: 1440px){
			max-width: 700px;
			&--lg{
				max-width: 726px;
			}
		}
	}
}
.ask {
	&__row {
		@media (min-width: 992px){
			display: flex;
			gap: 3em;
			justify-content: space-between;
		}
	}
	&__self {
		position: relative;
		align-self: flex-start;
		@media (min-width: 992px){
			max-width: 510px;
			&--1 {
				max-width: 480px;
			}
			&--01 {
				max-width: 460px;
			}
			&--0::before {
				content: '';
				position: absolute;
				width: 80%;
				padding-bottom: 49%;
				background: url(../img/services/enterprise-seo/shapes.png) center no-repeat;
				background-size: contain;
				top: 60%;
				left: 26%;
			}
			&--01::before {
				content: '';
				position: absolute;
				width: 77%;
				padding-bottom: 43%;
				background: url(../img/general/shapes-01.png) center no-repeat;
				background-size: contain;
				top: 50%;
				left: 36%;
			}
			&--1::before,&--11::before,&--12::before {
				content: '';
				position: absolute;
				width: 60%;
				padding-bottom: 49%;
				background: url(../img/general/bg-lines-3.svg) center no-repeat;
				background-size: contain;
				top: 60%;
				left: 46%;
			}
			&--11::before{
				top: 84%;
				background-image: url(../img/general/bg-lines.svg);
			}
			&--12::before{
				top: 102%;
				width: 47%;
				left: 65%;
				padding-bottom: 18%;
				background-image: url(../img/general/bg-lines-5.png);
			}
		}
		@media (max-width: 1100px) {
			&--01::before{
				left: 26%;
			}
		}
	}
	&__answer {
		position: relative;
		@media (min-width: 1200px){
			&::before {
				content: '';
				position: absolute;
				left: -40px;
				top: 10px;
				width: 0.62em;
				height: 0.62em;
				background-color: $orange;
			}
		}
		@media (min-width: 992px) {
			max-width: 600px;
		}
	}
	&__text {
		@media (min-width: 992px) {
			max-width: 631px;
		}
	}
	&__list {
		@media (min-width: 992px) {
			max-width: 631px;
		}
		li {
			padding-bottom: 1.2em;
			padding-left: 2em;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: .7em;
				width: 0.5em;
				height: 0.5em;
				background-color: $orange;
			}
			@media (max-width: 991px){
				&::before {
					left: 1px;
					top: 0.5em;
				}
			}
		}
	}
}